################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/MSTest.TestAdapter.1.4.0
/packages/MSTest.TestAdapter.2.1.2
/packages
/.vs/UI/v15
/.vs/UI/v16
/.vs/UI/v17
